  <div class="hero-section">
    <img class="chatgpt-robot" src="../../assets/chatgpt robot.png" />
    <div class="container">
      <div class="sub-container">
        <div class="div">
          <div class="sub-container-2">
            <div class="heading-wrapper"><p class="heading">Explore the future of customer service</p></div>
            <p class="text-wrapper">Introducing Chatminds for Next-Level Customer Service!</p>
          </div>
          <p class="paragraph">
            Welcome to Chatminds, Empower Your Business with Intelligent Conversations<br />At Chatminds, we believe
            in transforming the way businesses connect with their customers. Say hello to the future of customer
            service and engagement with our cutting-edge AI chatbot solutions
          </p>
        </div>
        <div class="buttons-container">
          <button [routerLink]="'/contact'" class="button"><div class="text" style="color: white;">Get Starter Today</div></button>
          <button [routerLink]="'/contact'" class="div-wrapper"><div class="text">Book a Demo</div></button>
        </div>
      </div>
      <br>
      <div class="sub-container-3">
        <div class="container-2">
          <img class="image" src="https://c.animaapp.com/v6nVESBm/img/image.png" />
          <img class="img" src="https://c.animaapp.com/v6nVESBm/img/image-2@2x.png" />
          <img class="img" src="https://c.animaapp.com/v6nVESBm/img/image-1@2x.png" />
        </div>
        <p class="p">
          <span class="span">430+</span>
          <span class="text-wrapper-2">&nbsp;</span>
          <span class="text-wrapper-3">Happy Customers</span>
        </p>
      </div>
    </div>
  </div>