<div class="container" style="padding-top: 20px;">
  <h4 class="text-center" style="font-size: 50px;">Features</h4>
  <div class="text-center mb-4">
    Boost efficiency, reduce costs, and enhance customer satisfaction with our AI chatbots.<br>
    Join the future of customer
    service today!
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="card mb-3">
        <div class="card-body pad">
          <div class="d-flex align-items-center" style="margin-bottom: 20px;">
            <button class="button"><i class="fas fa-clock"></i></button>
            <h5 class="text ml-2" >24/7 Availability</h5>
          </div>
          <p class="card-text">AI chatbots operate tirelessly, ensuring round-the-clock availability to engage with
            users. This leads to improved customer service and satisfaction by addressing inquiries promptly, regardless
            of the time zone.</p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card mb-3">
        <div class="card-body pad">
          <div class="d-flex align-items-center" style="margin-bottom: 20px;">
            <button class="button"><i class="fas fa-smile"></i></button>
            <h5 class="text ml-2">Cost Efficiency</h5>
          </div>
          <p class="card-text">By automating routine and repetitive tasks, AI chatbots significantly reduce operational
            costs. They handle a wide range of queries simultaneously, freeing up human resources to focus on more
            complex and strategic activities.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="card mb-3">
        <div class="card-body pad">
          <div class="d-flex align-items-center" style="margin-bottom: 20px;">
            <button class="button"><i class="fas fa-lightbulb"></i></button>
            <h5 class="text ml-2">Enhanced User Experience</h5>
          </div>
          <p class="card-text">AI chatbots contribute to a seamless and positive user experience by providing instant
            and relevant information. This positive interaction fosters brand satisfaction and contributes to a
            favorable perception of the company.</p>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card mb-3">
        <div class="card-body pad">
          <div class="d-flex align-items-center" style="margin-bottom: 20px;">
            <button class="button"><i class="fas fa-dollar-sign"></i></button>
            <h5 class="text ml-2">Enhanced Productivity</h5>
          </div>
          <p class="card-text">Businesses can leverage AI chatbots to automate various tasks, from handling customer
            inquiries to processing orders. This automation streamlines workflows, enhancing overall operational
            efficiency and productivity.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="card mb-3">
        <div class="card-body pad">
          <div class="d-flex align-items-center" style="margin-bottom: 20px;">
            <button class="button"><i class="fas fa-chart-bar"></i></button>
            <div class="text ml-2 fs-5">Personalized Recommendations</div>
          </div>
          <p class="card-text">By analyzing user data, AI chatbots can offer personalized product recommendations and
            suggestions. This targeted approach enhances the customer experience, increasing the likelihood of
            conversion and fostering brand loyalty.</p>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card mb-3">
        <div class="card-body pad">
          <div class="d-flex align-items-center" style="margin-bottom: 20px;">
            <button class="button"><i class="fas fa-comments"></i></button>
            <h5 class="text ml-2">Social Media Engagement</h5>
          </div>
          <p class="card-text">AI chatbots can be integrated into social media platforms to engage with users, answer
            queries, and even facilitate transactions. This presence on social media enhances brand visibility and
            allows for a more dynamic interaction with the audience.</p>
        </div>
      </div>
    </div>
  </div>
</div>