<div class="container" style="padding: 20px;">
  <h4 class="text-center" style="font-size: 50px;">Our Services</h4>
  <div class="text-center mb-4">
    We prefer to keep chatbots as simple and minimalist as possible. We create chatbots that are simple to integrate
    with any platform and offer customers precise responses through our chatbot development services.
    Nothing more and nothing less than the responses that your customers are looking for are provided by our chatbot!
  </div>
  <div class="row">
    <div class="col-md-6 mb-3">
      <div class="card">
        <div class="card-body">
          <div class="text-center"> 
            <img src="../../assets/Cloud software.png" class="img-fluid mx-auto" style="max-height: 200px; width: auto;" />
          </div>
          <h5 class="card-title">Chatbot Design</h5>
          <p class="card-text">We create intelligent chatbots specific to your industry based on your requirements and
            specifications, with cross-platform functionality and a focus on data.</p>
        </div>
      </div>
    </div>
    <div class="col-md-6 mb-3">
      <div class="card" style="height: 100%;">
        <div class="card-body">
          <div class="text-center"> 
            <img src="../../assets/artificial intelligence.png" class="img-fluid mx-auto" style="max-height: 200px; width: auto;" />
          </div>
          <h5 class="card-title">Workflow Automation</h5>
          <p class="card-text">Streamline business processes, from email marketing to lead management, with intelligent
            automation.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 mb-3">
      <div class="card">
        <div class="card-body">
          <div class="text-center"> 
            <img src="../../assets/Support service.png" class="img-fluid mx-auto" style="max-height: 200px; width: auto;" />
          </div>
          <h5 class="card-title text-left" >Lead Generation and Sales</h5>
          <p class="card-text">Chatbots can engage with website visitors, qualify leads, and provide information about
            products or services, ultimately contributing to lead generation and sales.</p>
        </div>
      </div>
    </div>
    <div class="col-md-6 mb-3">
      <div class="card">
        <div class="card-body">
          <div class="text-center"> 
          <img src="../../assets/Seo website optimization.png" class="img-fluid mx-auto" style="max-height: 200px; width: auto;" />
        </div>
          <h5 class="card-title">Analytics and Reporting</h5>
          <p class="card-text">We provide clients with insights into chatbot performance, user interactions, and other
            relevant analytics to gain insights and drive data-driven decision-making.</p>
        </div>
      </div>
    </div>
  </div>
</div>
