<div class="container">
    <h4 class="text-center" style="font-size: 50px;">Our Pricing</h4>
    <div class="text-center mb-4">
        Designed for businesses that want to completely optimize customer service, marketing, and sales.
    </div>
    <div style="text-align: center;">
        <button [routerLink]="['/contact']" class="button2">
            <span class="text">Contact Us</span>
          </button>
    </div>
    <br>
    <div class="row">
        <div class="col-md-6">
            <div class="card" style="padding: 15px;">
                <div class="card-body">
                    <div style="font-size: 25px;">Get Started Today</div>
                    <br>
                    <p style="padding-left: 25px;">
                        · Custom AI Chatbot Development <br>
                        · Integration with One Platform (Website or Social Media)<br>
                        · Basic Natural Language Processing (NLP)<br>
                        · Standard User Interaction Design<br>
                        · Basic Reporting and Analytics<br>
                        · Email Support<br>
                    </p>
                    <br>
                    <div>
                        Ideal for small businesses looking to establish a foundational AI chatbot presence.
                    </div>
                    <br>
                    <br>
                    <div class="sub-container">
                        <div class="number">Book a Demo</div>
                        <div class="text">/ One Time</div>
                    </div>
                    <br>
                    <br>
                    <button [routerLink]="['/contact']" class="button">Choose Plan
                      </button>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card" style="padding: 15px; height: 100%;">
                <div class="card-body">
                    <div style="font-size: 25px;">Premium Plan</div>
                    <br>    
                    <p style="padding-left: 25px;" >
                        · Multi-Platform Integration (Website and Social Media)<br>
                        · Advanced Natural Language Processing (NLP)<br>
                        · Enhanced User Experience Design<br>
                        · Lead Generation Chatbot Features<br>
                        · Marketing Integration for Lead Follow-up<br>
                        · Weekly Performance Reports<br>
                        · Priority Email Support<br>
                    </p>
                    <div>
                        Perfect for businesses seeking enhanced customer engagement and lead conversion through advanced
                        chatbot capabilities.
                    </div>
                    <br>
                    <br>
                    <div class="sub-container">
                        <div class="number">Book a Call</div>
                        <div class="text"> / Monthly</div>
                    </div>
                    <br>
                    <br>
                    <button [routerLink]="['/contact']" class="button">Choose Plan</button>
                </div>
            </div>
        </div>
    </div>
</div>